.container {
  margin: 1rem auto;
  max-width: 1024px;
}

.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 1rem;
}

.league-header {
  background-color: #2b2c2d !important;
  color: white !important;
}

.match-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

.match-card:not(:first-child) {
  border-top: 1px solid;
}

.match-card-time {
  width: 44px;
  text-align: center;
}

.match-card-score-container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 100%;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

.livescores-options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}

.livescores-date-live-container {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 0 1rem;
}

.calendar-button {
  width: 24px;
  height: 24px;
}

.button-icon {
  font-size: 24px;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.low-opacity {
  opacity: 0.5;
}

.red-color {
  color: rgb(211, 0, 0);
}

.preview-icon {
  transform: scale(1.5);
  margin: auto 0;
}

@media (max-width: 576px) {
  .livescores-date-live-container {
    width: 100%;
    justify-content: space-between;
  }

  .livescores-viewmode-options {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .livescores-options-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
